@model LigaNOS.Data.Entities.Game

@{
    ViewData["Title"] = "Details";
}

<h1 class="page-title-style">Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <div class="games-container">
        <dl class="page-info-color custom-dl">
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="custom-dd">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.HomeTeam)
            </dt>
            <dd class="custom-dd">
                @Html.DisplayFor(model => model.HomeTeam)
            </dd>
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.AwayTeam)
            </dt>
            <dd class="custom-dd">
                @Html.DisplayFor(model => model.AwayTeam)
            </dd>
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.HomeTeamScore)
            </dt>
            @if (Model.HomeTeamScore != null)
            {
                <dd class="custom-dd">
                    @Html.DisplayFor(model => model.HomeTeamScore)
                </dd>
            }
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.AwayTeamScore)
            </dt>
            @if (Model.AwayTeamScore != null)
            {
                <dd class="custom-dd">
                    @Html.DisplayFor(model => model.AwayTeamScore)
                </dd>
            }
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.IsPlayed)
            </dt>
            <dd class="custom-dd">
                @Html.DisplayFor(model => model.IsPlayed)
            </dd>
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.HomeTeamIssuedCard)
            </dt>
            <dd class="custom-dd">
                <span class="text-danger">
                    @if (!string.IsNullOrEmpty(Model.HomeTeamIssuedCard))
                    {
                        if (Model.HomeTeamIssuedCard == "Red")
                        {
                            <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                        }
                        else if (Model.HomeTeamIssuedCard == "Yellow")
                        {
                            <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card" />
                        }
                        else if (Model.HomeTeamIssuedCard == "RedYellow")
                        {
                            <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                            <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card" />
                        }
                    }
                </span>
                <br />
            </dd>
            <dt class="custom-dt">
                @Html.DisplayNameFor(model => model.AwayTeamIssuedCard)
            </dt>
            <dd class="custom-dd">
                <span class="text-danger">
                    @if (!string.IsNullOrEmpty(Model.AwayTeamIssuedCard))
                    {
                        if (Model.AwayTeamIssuedCard == "Red")
                        {
                            <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card-away" />
                        }
                        else if (Model.AwayTeamIssuedCard == "Yellow")
                        {
                            <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card-away" />
                        }
                        else if (Model.AwayTeamIssuedCard == "RedYellow")
                        {
                            <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card-away" />
                            <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card-away" />
                        }
                    }
                </span>
                <br />
            </dd>
        </dl>
    </div>
</div>

<div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Staff") || this.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary games-btn-pos"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    }

    <a asp-action="Index" class="btn btn-success games-btn-pos"><i class="fa fa-chevron-left"></i> Back</a>
</div>

