@model LigaNOS.Data.Entities.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPlayed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamIssuedCard)
        </dt>
        <dd class="col-sm-10">
            <span class="text-danger">
                @if (!string.IsNullOrEmpty(Model.HomeTeamIssuedCard))
                {
                    if (Model.HomeTeamIssuedCard == "Red")
                    {
                        <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                    }
                    else if (Model.HomeTeamIssuedCard == "Yellow")
                    {
                        <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card" />
                    }
                    else if (Model.HomeTeamIssuedCard == "RedYellow")
                    {
                        <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                        <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="red-yellow-card" />
                    }
                }
            </span>
            <br />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamIssuedCard)
        </dt>
        <dd class="col-sm-10">
            <span class="text-danger">
                @if (!string.IsNullOrEmpty(Model.AwayTeamIssuedCard))
                {
                    if (Model.AwayTeamIssuedCard == "Red")
                    {
                        <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                    }
                    else if (Model.AwayTeamIssuedCard == "Yellow")
                    {
                        <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="yellow-card" />
                    }
                    else if (Model.AwayTeamIssuedCard == "RedYellow")
                    {
                        <img src="~/images/cards/redcard.png" alt="Red Card" class="red-card" />
                        <img src="~/images/cards/yellowcard.png" alt="Yellow Card" class="red-yellow-card" />
                    }
                }
            </span>
            <br />
        </dd>
    </dl>
</div>
<div>
    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    }

    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back</a>

</div>
