@model LigaNOS.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<h1 class="page-title-style">Change User</h1>

@if (!string.IsNullOrEmpty(Model.UserUpdatedMessage))
{
    <div class="alert alert-success">
        @Model.UserUpdatedMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<h4>User</h4>
<hr />
<div class="container">
    <div class="col-md-4 form-position">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control input-color" />
                <span asp-validation-for="FirstName" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control input-color" />
                <span asp-validation-for="LastName" class="text-warning"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="ProfileImage">Profile Image</label>
                <input asp-for="ProfileImage" type="file" class="form-control-file input-color" accept="image/*">
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label for="ProfileImage">Upload Profile Image</label>
                <ejs-uploader id="ProfileImage" autoUpload="false"></ejs-uploader>
            </div>

            <div class="form-group">
                <button type="submit" value="Update" class="btn btn-primary"><i class="fa-solid fa-arrows-rotate"></i> Update Info</button>
                <a asp-action="ChangePassword" class="btn btn-success"><i class="fa-solid fa-arrow-right-arrow-left"></i> Change Password</a>
            </div>

            <div class="@(ViewBag.UserMessageColor ?? "text-success")">@ViewBag.UserMessage</div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.CurrentProfileImage))
            {
                <div style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%;">
                    <img src="~/images/photos/@Model.CurrentProfileImage" alt="Current Profile Image"
                         style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
            }
            else
            {
                <div style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%;">
                    <img src="~/images/no_image.png" alt="Default Profile Image"
                         style="width: 100%; height: 100%; object-fit: cover;" />
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


