@model LigaNOS.Data.Entities.User

<h1 class="page-title-style">Delete</h1>

<div>
    <h4>Are you sure you want to delete @Model.UserName?</h4>
    <hr />
    <div>
        <div class="col-md-8">
            <dl class="row page-info-color general-dl">
                <dt class="col-sm-2 general-dt">Username</dt>
                <dd class="col-sm-10 general-dd">@Model.UserName</dd>
            </dl>
        </div>
        <div class="col-md-8">
            <dl class="row page-info-color general-dl">
                <dt class="col-sm-2 general-dt">Full Name</dt>
                <dd class="col-sm-10 general-dd">@Model.FirstName @Model.LastName</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-4">
    @if (Model.ProfileImage == null)
    {
        <div>
                <img src="~/images/no_image.png" alt="Default Profile Image"
                style="width: 300px; height: 300px; max-width: 100%; border-radius: 50%;" />
        </div>
    }
    else
    {
        <div>
                <img src="@Url.Content("~/images/photos/" + Model.ProfileImage)" alt="Profile Image"
                style="width: 300px; height: 300px; max-width: 100%; border-radius: 50%;" />
        </div>
    }
    </div>
</div>
<div>
    <form asp-controller="Account" asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button type="submit" value="Confirm Delete" class="btn btn-danger user-btn-pos"><i class="fa fa-trash"></i> Delete</button>
            <a asp-action="UserList" asp-controller="Account" class="btn btn-success user-btn-pos"><i class="fa fa-chevron-left"></i> Back</a>
        </div>
    </form>
</div>
