@model List<UserWithRolesViewModel>

<h2>User List</h2>

@if (TempData.ContainsKey("AdminDeletedMessage"))
{
    <div class="alert alert-success">
        @TempData["AdminDeletedMessage"]
    </div>
}

@if (TempData.ContainsKey("AdminDeleteErrorMessage"))
{
    <div class="alert alert-danger">
        @TempData["AdminDeleteErrorMessage"]
    </div>
}

<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            var user = userWithRoles.User;
            var roles = userWithRoles.Roles;
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    @roles.FirstOrDefault()
                </td>
                <td>
                    <form asp-controller="Account" asp-action="Delete" method="post">
                        <input type="hidden" name="userId" value="@user.Id" />
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>